<div class="box">
  <div *ngFor="let ordelyNum of _questions ">
    <a routerLink="" (click)="showQuestion(ordelyNum.id)" class="Questions"
    [ngClass]="{
    'success':ordelyNum.right === answer1,
    'false':ordelyNum.right === answer2
    }"
    > {{ordelyNum.name}} </a>
  </div>
</div>

<div class="question_box">
  <div class="photo_box">
    <div *ngFor="let photo of visio.path" class="one_photo">
      <img [src]="photo.photo" alt="" width="200" height="150">
    </div>
  </div>
  <div *ngIf="showVideoBox">
    <div class="video_box" *ngFor="let video of visio.path">
      <youtube-player
        [videoId]="video.video"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [playerVars]="playerVars">
      </youtube-player>
    </div>
  </div>
  <p> {{visio.description}} </p>
  <form class="answerForm" #AnswerForm="ngForm" (ngSubmit)="sendAnswer(AnswerForm)">
    <div *ngFor="let answer of visio.listOfAnswers">
      {{answer.answer}}
      <input type="radio" name="answer" [value]="[{id:visio.id, rightAnswer: visio.rightQuestion,  answer: answer.answer, right: answer.right}]" ngModel>
    </div>
    <button *ngIf="showBtn"> Submit</button>
  </form>
  <button *ngIf="showBtn" (click)="NextQuetion(visio.id)"> Next</button>
</div>

<router-outlet></router-outlet>
